*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body{
  background: #040613;
  height: 100vh;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}
.flex{
  display: flex;
}

.container{
  max-width: 1280px;
  margin: auto;
}
header{
  z-index: 1;
}

header .container .flex{
  flex-direction: row;
  justify-content: space-between;
}
h2.titulo{
  color: white;
  font-size: 38px;
  text-align: center;
}
h2.titulo span{
  color: #3A46AB;
}

#header{
  width: 100%;
  padding: 40px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}
header.rolagem{
  background-color: #ffffff;
  padding: 15px 4%;
}
header.rolagem a{
  color: #040613;
}

header.rolagem a, header.rolagem i{
  color: #040613;
}

header ul{
  list-style-type: none;
}
header i{
  font-size: 30px;
  color: white;
}
header nav.menu ul li{
  display: inline-block;
  margin: 0 40px;
}
header nav ul li a{
  color: rgba(182, 181, 181, 0.53);
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}
header nav.menu ul li a:hover{
  color: rgba(231, 231, 231, 0.91);
  font-size: 25px;
  transform: scale(1.05);
}
.text_topo_site h1 span{
  color: #3A46AB;
}

.bnt-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  border: 0;
  background-color: #3A46AB;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}
button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(58, 70, 171, 0.9);
}

/*ESTILO MENU MOBILE*/

.overlay-menu{
  background-color: rgba(0, 0, 0, 0.71);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

.bnt-abrir-menu i{
  font-size: 40px;
  color: #3A46AB;
}
.bnt-abrir-menu{
  display: none;
}
.menu_mobile{
  background-color: #040613;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0;
  overflow: hidden;
  transition: .2s;
}
.menu_mobile.abrir-menu{
  width: 70%;
}
.menu_mobile.abrir-menu ~ .overlay-menu{
  display: block;
}
.menu_mobile nav ul{
  text-align: right;
}
.menu_mobile nav ul a{
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 4%;
}
.menu_mobile nav ul a:hover{
  background: #3A46AB;
  display: block;
}
.menu_mobile .bnt-fechar{
  padding: 20px 4%;
}
.menu_mobile .bnt-fechar i{
  color: #3A46AB;
  font-size: 35px;
}

/*TOPO DO SITE*/
section.topo_do_site{
  padding: 150px 4%;
  transition: .2s;
}
section.topo_do_site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo_do_site h1{
  color: white;
  font-size: 42px;
  line-height: 40px;
}
.topo_do_site .text_topo_site p{
  color: white;
  margin: 40px 0;
}
.topo_do_site .img_topo_site img{
  animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

/*ESTILO DAS ESPECIALIDADES*/

section.especialidades{
  padding: 40px 4%;
}
section.especialidades .flex{
  gap: 60px;
}
.especialidades .especialidades_box{
  color: white;
  padding: 40px;
  margin: 45px 45px auto auto;
  border-radius: 20px;
  transition: .2s;
}
.especialidades .especialidades_box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.especialidades .especialidades_box i {
  font-size: 70px;
  color: #3A46AB;
}
.especialidades .especialidades_box h3{
  font-size: 28px;
  margin: 15px 0;
}
.especialidades .especialidades_box ul li{
  list-style-type: none;
  margin: 5px;
}

/* SOBRE */
.img_sobre img{
  border-radius: 10% 50%;
}
section.sobre{
  padding: 40px 4%;
}
.sobre .text_sobre{
  color: white;
}
section.sobre .flex{
  align-items: center;
  gap: 60px;
}
.sobre .text_sobre h2{
  font-size: 45px;
  margin-bottom: 20px;
}
.sobre .text_sobre h2 span{
  color: #3A46AB;
}
.sobre .text_sobre p{
  margin: 10px 0;
  text-align: justify;
  padding: 5px;
  font-size: 18px;
}
.sobre .text_sobre ul li{
  margin: 0;
  text-align: justify;
  padding: 5px;
  font-size: 18px;
  list-style: none;
}
.bnt_social button{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: #3A46AB;
  font-size: 18px;
  cursor: pointer;
  color: white;
  margin: 5px 5px;
}

/*BARRA DE PROGRESS*/


.linha{
  display: flex;
  justify-content: space-between;
  margin: 70px 70px 45px 30px;
  background-color: rgb(3, 3, 12);
  padding: 40px 4%;
  border-radius: 15px;
  z-index: 2;/*posiciona na ordem desejada*/
}
.linha:hover{
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}
.linha .coluna{
  flex-basis: 46%;
}
.linha .subtitulo h2{
  position: relative;
  color: white;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 30px;
}
.prog{
  font-size: 18px;
  color: white;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.barra_progress{
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #999999;
  border-radius: 15px;
  margin-bottom: 20px;
}
.barra_progress::after{
  position: absolute;
  content: attr(value);
  top:-35px;
  right: 0;
  color: #999999;
  font-size: 18px;
}
.linha_progress{
  position: absolute;
  width: 0;
  height: 7px;
  background-color: #3A46AB;
  border-radius: 15px;
  top: -1px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1)forwards;
}
.linha_progress::after{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #3A46AB;
}
@keyframes animate {
  100%{
    width: 100%;
  }
}
@media(max-width: 1020px) {
    .linha{
      flex-direction: column;
    }
}
/*PORTFOLIO*/
.portfolio .interface h2{
  color: white;
  text-align: center;
  font-size: 32px;
}
.portfolio .interface h2 span{
  color: #3A46AB;
}
.flex .container2{
  background-color: rgb(3, 3, 12);
  color: white;
  height: 50vh;
  width: 100vh;
  margin: 20px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(124, 124, 124, 0.22) 0px 5px 15px;
}
.flex .container2 ul li{
  /*list-style: none;*/
  margin: 0 20px;
  padding: 5px;
}
.portfolio .flex .container2 h1{
  text-align: center;
  padding-bottom: 25px;
  margin: 5px auto;
}
.portfolio .bnt-contato{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


/*RODAPÉ*/

footer{
  padding: 60px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}
footer .line_footer{
  padding: 20px 0;
}
.borda{
  border-top: 2px solid #3A46AB;
}
.logo_footer a i{
  color: white;
  font-size: 32px;
}
footer .flex{
  justify-content: space-between;
}
footer .line_footer p i{
  color: #3A46AB;
  font-size: 18px;
}
footer .line_footer p a{
  color: white;
}

@media screen and (max-width: 1020px){
  /*CLASSE GERAIS*/
  .flex{
    flex-direction: column;
  }
  .topo_do_site .flex{
    flex-direction: column-reverse;
  }
  h2.titulo{
    font-size: 30px;
  }

  /*CABEÇALHO*/
    .menu, .bnt-contato{
      display: none;
    }
  .bnt-abrir-menu{
    display: block;
  }
  .bnt-abrir-menu a i{
    float: right;
  }
    /*TOPO DO SITE*/
  section.topo_do_site .flex{
    gap: 40px;
  }
  section.topo_do_site{
    padding: 90px 7%;
  }
  .topo_do_site h1{
    font-size: 28px;
    line-height: 30px;
    text-align: center;
  }
  .topo_do_site .img_topo_site img{
    width: 100%;
  }
  /*ESPECIALIDADES*/
  section.especialidades{
    padding: 40px 7%;
  }
  /*SOBRE*/
  section.sobre{
    padding: 40px 7%;
  }
  .sobre .text_sobre h2{
    font-size: 36px;
    margin-bottom: 35px;
    text-align: center;
  }
  .bnt_social{
    text-align: center;
  }
  .img_sobre img{
    width: 100%;
  }
  /*PORTFOLIO*/
  .portfolio .flex .container2 h1{
    text-align: center;
  }
  .flex .container2{
    height: 50%;
    width: 80%;
    margin: 20px auto;
    padding: 25px;
  }
  .portfolio .bnt-contato{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
  }

  /*RODAPÉ*/
  footer .flex{
    flex-direction: column;
    gap: 25px;
  }
  footer .line_footer{
    text-align: center;
  }
}



